/* Start of lazy load styles */
.loader-container {
    display: flex;
    flex-direction: column;
    height: 400px;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin: auto;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #75D6D1;
    border-color: #75D6D1 transparent #75D6D1 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* end of lazy load styles */